<li class="nav-item <%= path == '/recent-bookings' ? 'active' : '' %>">
    <a class="nav-link" href="/recent-bookings">Bookings</a>
</li>

<li class="nav-item <%= path == '/messages' || path == ('/messages/' + (typeof paramsId !== 'undefined' ? paramsId : '')) ? 'active' : '' %>">
    <a class="nav-link" href="/messages">Messages</a>
</li>

<li class="nav-item dropdown">
    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
        <span class="badge"><span class="icon-user"></span></span>
    </a>
    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
        <a class="dropdown-item" href="/<%= role %>/<%= username %>">Account</a>
        <a class="dropdown-item" href="/logout">Logout</a>
    </div>
</li>